/* About.css */

.about-section {
  padding-top: 3%;
  padding-bottom: 10%;
}

.about-section h1 {
  font-size: 2.5rem;
}

.about-section p {
  padding: 5% 5%;
  font-size: 1.4rem;
  background-color: #F8F7F2;
  border-radius: 20px;
  text-align: center;
}

.about-content {
  border-radius: 10px;
  text-align: center;
  padding-right: 15%;
  padding-left: 15%;
  margin-bottom: 10vh;
}

.tech-skills h1{
  text-align: center;
}

.skill-details {
  padding-right: 15%;
  padding-left: 15%;
}
